body{
    background-color: #000;
    font-family: Arial, Helvetica, sans-serif;
    color:white;
    margin:0;  
}
/*font-family: 'Dancing Script', cursive;
font-family: 'Kaushan Script', cursive;*/

#logoSlogan> h1{
    font-family:'Dancing Script', cursive;
    font-size: 1em;
    padding-top: 50px;
    color:#f2f2f2;
}
#logoSlogan{
    display:flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 30px;
}

#section1{
    background-image: url(image/cat_black.jpg); 
    background-size: cover;
    position: relative;
    height:900px; 
    margin:0;
 
}
#slogan{
    font-family:'Dancing Script', cursive;
    position:absolute;
    margin:0;
    top:10%;
    left:5%;
    transform:rotate(-7deg);
    font-size: 3em;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.75);
}
#slogan > span {
    color:rgb(235, 100, 26);
}
#slogan > strong{
    color:#000;
}
#contact {
    position:absolute;
    top:38%;
    left:15%;
    width: 335px; 
    margin: auto; 
    padding: 10px 10px;
    background: rgba(255, 230, 216, 0.2); 
    border-radius: 8px;
    font-family: 'Courier New', Courier, monospace; 
    color: #000;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.75);
}
#section1 h3 {
    font-size: 35px; 
    color: rgb(235, 100, 26);
    font-family:'Dancing Script', cursive;
    text-align: center; 
    margin: 0 0 10px 0; 
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.75);
}
fieldset{
    border-radius: 8px;
}

#section1 label {
    float:left;
    margin: 11px 20px 0 0; 
    width: 95px;    
    font-size: 16px; 
    font-weight: bold;      
}
#section1 input {
    width: 260px; 
    height: 35px; 
    padding: 5px 10px 0px 20px; 
    margin: 0 0 20px 0; 
	background: rgba(252, 251, 250, 0.3);
    font-size: 16px; 
    border:none;
    border-radius: 8px; 
    font-family: 'Courier New', Courier, monospace;       
}
#section1 textarea {
    width: 260px; 
    height: 100px; 
    padding: 12px 20px 0px 20px; 
    margin: 0 0 20px 0; 	
	background: rgba(252, 251, 250, 0.3);
    font-size: 16px; 
    color: #f2f2f2;
    border: none;
    border-radius: 8px;
    font-family: 'Courier New', Courier, monospace; 
}
#section1 input[type=submit] {
    width: 150px; 
    height: 50px; 
    float: left; 
    padding: 10px 15px; 
    margin: 0 15px 0 0;
    border: none;
    font-weight: bold;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.75);
    transition: all 200ms linear; 	
}
#section1 input[type=submit]:hover{
    background-color:rgb(211, 198, 185);
}

#section2{
    background-color:#D9865A;
    margin:0;
    padding-bottom: 30px;
    border: 2px solid #561E00;
    font-family:'Dancing Script', cursive;
}
#adopt{
    margin-bottom:40px;
    padding: 0px 0px 20px 10px;
    font-size: 3em;
    color:#f8d4c0;
    text-align: center;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.75);
}

#section2 > ul{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    margin:0;
    padding: 0;
}
#section2 > ul > li{
    display:flex;
    flex-direction: column;
    text-align: center;
    list-style: none;
    font-size: 1.5em;
    font-weight: bold;
    color: #561E00;
}
#section2 > ul > li > img{
    margin:20px auto;
    box-shadow: 4px 6px 5px 0px rgba(0,0,0,0.75);
    transition: all 300ms linear;  
}
#section2 > ul > li > img:hover{
    transform:scale(1.2);
    box-shadow: 8px 12px 5px 0px rgba(0,0,0,0.75);
}


  #section3{
    background-color: #FFE6D8;
    margin: 0;
    height:auto;
    text-align: center;
    padding: 50px 0;
  }
  #section3 > h2{
      color:#561E00;
      margin-top:0;
      font-family:'Dancing Script', cursive;
      text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.75);
      font-size: 3em;
  }
#allBox{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
.box{
    background-color: #FFB68F;
      width: 300px;
      height:400px;
      color:#561E00;
      text-align: center;
      border-radius: 4px;
      padding:20px;
      margin: 0 50px;
     box-shadow: 4px 6px 5px 0px rgba(0,0,0,0.75);
     position: relative;
  }
  .box > button{
    background-color: rgba(235, 100, 26, 1);
    border-radius: 5px;
    border:none;
    font-weight: bolder;
    font-size:1.2em;
    color:#f8d4c0;
    box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
    height:50px;
    width:200px;
    position:absolute;
    top:360px;
    left:75px;
    transition: all 200ms linear;     
  }
 .box > button:hover{
    background-color:#BB4709;
    color:#561E00;
}

#section4{
    background-color: #C54500;
    text-align: center;
}
#section4 >h2 {
    margin:0;
    padding: 40px 0 5px 0;
    font-family:'Dancing Script', cursive;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.75);
    font-size: 3em;
}
#section4 > hr{
    width:75%;
    background-color: #983500;
    border: 2px solid #983500;    
}
#section4 > aside{
    display:flex;
    flex-direction: row;
    justify-content: center;
}
#section4 > aside > div{
    margin:10px 0;
    width:25em;
}
#newletter > form > div > label{
    color:#f2f2f2;
    margin:0;
    padding:0;
    
}
#newletter > form > div > input{
    align-self: center;
    width:200px;
    border:none;
    border-radius: 2px;
}
#newletter > form > div > button{
    border: none;
    background-color:#FFB68F;
    border-radius: 2px;
    color:#983500;
    font-weight: bold;
    transition: all 200ms linear; 
}
#newletter > form > div > button:hover{
    background-color:#983500;
    color:#FFB68F;
}

#newletter,#logoSlogan2{
    border-right: 4px solid #983500;
}
#logoSlogan2 > h1{
margin:0;
font-family:'Dancing Script', cursive;
font-size: 1.2em;
color:#f2f2f2;
}

#section4 > aside > div > ul{
    display: flex;
    flex-direction: row;
}
#section4 > aside > div > ul > li{
    list-style: none;
    margin: 10px;     
}

#section4 > aside > div > ul > li > img{
    transition: all 200ms linear;    
}
#section4 > aside > div > ul > li > img:hover{
    transform: scale(1.2);

}

#section5{
    background-color: #000;
}
#section5 > ul{
    margin:2em;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
}
#section5 > ul >li{
    margin: 0.1em 3em;
    list-style: none;
    font-size: 0.7em;
    transition: all 200ms linear; 
}
#section5 > ul >li:hover{
    color:#983500;
}
  